<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
        <h3>Login</h3>
            <form action="auth" method="POST">
                <div class="row my-4">
                    <div class="col-md-12"><input type="text" name="username" placeholder="Username" /></div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12"><input type="password" name="password" placeholder="password" /></div>
                </div>
                <div class="row my-4">
                    <div class="col-md-12"><input name="submit" value="submit" type="submit" /></div>
                </div>
            </form>
        </div>
    </body>
</html>
